.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imagemBiscoito{
    width: 20%;
    height: 10%;
    padding-top: 5px;
}

.fraseExibida{
    color: orange;
    text-decoration: none;
    font-style: italic;

}