*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.img{

    width: 5%;
    height: 10%;

    position: relative;
    left: 0;
}

